th {
  text-align: center !important;
}

td {
  text-align: center !important;
}

nz-form-item {
  align-items: center !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
